<div class="home">
	<div class="home_background" style="background-image: url(https://www.upsieutoc.com/image/index-background.k3tD0b);"></div>
	<div class="home_content">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1 class="home_title"><%= t".a" %></h1>
				</div>
			</div>
		</div>
	</div>
</div>
